{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.name,{
            label:'Nombre'
        }) }}
        {{ form_row(registrationForm.surname,{
            label:'Apellidos'
        }) }}
        {{ form_row(registrationForm.agreeTerms,{
            label: 'Aceptar Términos'
        }) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
