{% extends "base.html.twig" %}

{% block body %}

    <ul>
        {% for book in books %}
            <li class="img"> 
            {{book.name|upper}}

                {{book.id}}
                {{book.author}}
                {% if book.img %}
                    <img src={{book.img}}>
                    {% else %}
                    <img src="{{asset('/images/seatIbiza.jpg')}}"
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}