{% extends 'base.html.twig' %}

{% block title %}Nuevo Libro{% endblock %}

{% block body %}
    <h1>Nuevo Libro</h1>

    {{ form_start(booksForm) }}
        {{ form_row(booksForm.name,{
            label:'Titulo'
        }) }}
        {{ form_row(booksForm.author, {
            label: 'Autor'
        }) }}
        
        {{ form_row(booksForm.img,{
            label:'Imagen'
        }) }}
      
        <button type="submit" class="btn">Register</button>
    {{ form_end(booksForm) }}
{% endblock %}